* {
  box-sizing: border-box; /* làm kích thước đúng đặt ra tính toán cho dễ */
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%; /* đặt về để đơn vị rem thành 10px  */
}

/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem; /* tương đương với 16px */
  font-family: "Poppins", sans-serif; /* nó áp dụng là do nó có tính kế thừa */
}
/* common áp dụng chung  */
.heading-lever2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}
.main-content {
  width: 1170px;
  /* lúc này nó đang bị căn trái lên sử dụng  */
  margin-left: auto;
  margin-right: auto;
  /* muốn nó không bị sát lề khi kéo trang với mất chữ thì */
  max-width: calc(100% - 48px);
  /* việc sử dụng nó cũng như tính toán được cách độ rộng 2 bên cần phải cách */
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
}
a {
  text-decoration: none;
}
.line-clamp {
  display: -webkit-box;
  /* Đây thiết lập kiểu hiển thị sử dụng mô hình box của WebKit, tương tự như flexbox. */
  -webkit-line-clamp: var(--line-clamp, 1);
  /* Thuộc tính này xác định số dòng hiển thị trước khi cắt bớt văn bản. Nó sử dụng một biến CSS tên là --line-clamp, với giá trị mặc định là 1 nếu biến không được đặt. */
  -webkit-box-origin: vertical;
  /* Đặt hướng của layout box linh hoạt theo chiều dọc. */
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
  /* quá 2 dòng nó hiển thị 3 dấu chấm */
}
.break-all {
  word-break: break-all;
  /* thuộc tính này làm cho ko bị vỡ giao diện khi người dùng để chữ khong cách hoặ gắn link dài nó làm vỡ giao diện */
}
/* header */
.header {
  background: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex; /* tác động vào cho thẻ li nằm ngang */
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  color: #171100;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav a:hover,
.nav li.active a {
  color: #171100;
  /* font-weight: 600;  bỏ đi vì nó giật các phần xung quang khá khó chịu*/
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  display: block; /* vì dấu gạch nó đang ở inline nên không hiển thị  */
  content: "";
  left: 21px;
  bottom: 6px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}
.header .action {
  margin-left: 49px;
}
/* ========hero======= */
.hero {
  background: #fffcf4;
  padding: 56px 0 65px; /* không sử dụng margin vì  nó không đổ nền : phần bên trên cách 64 mà để 8 rồi thì còn 54 */
}
.hero .body {
  display: flex;
}
/* ================ hero  left ================== */
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover; /* để không bị vỡ ảnh */
  border-radius: 20px;
}
.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 270px;
  padding: 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
/* tác động lên item đằng sau */
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.hero-summary .icon2 {
  background-color: rgba(252, 239, 255, 1);
}
.hero-summary .icon3 {
  background-color: rgba(235, 234, 255, 1);
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .lable {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
/* ============== hero  right============== */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero .cta-group {
  align-items: center;
  margin-top: 38px;
  display: flex;
}
.hero-cta {
  border-radius: 32px;
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}
.hero .watch-video {
  margin-left: 28px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.12; /* 122.727% */
}
/* cách chữ nên dùng */
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
/* ===============popular================== */
.popular {
  padding: 65px 0;
  /* nguyên nhân thêm padding là khi người ta thêm nền thì nó không dính chữ */
  margin-top: 135px;
}
.popular-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.popular-top .controls {
  display: flex;
  gap: 18px;
}
.popular-top .desc {
  width: 458px;
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.popular-top .controls-btn {
  /* thuộc tính gap xác định khoảng cách giữa phần tử con */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.popular-top .controls-btn:hover {
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
/* bottom */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
  /* cách các phần tử con  */
}
.popular .course-item {
  flex: 1;
  /* thuộc tính này làm 3 cột nó bằng nhau không bị vỡ giao diện */
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.popular .course-item:hover {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .course-item .thumb {
  border: 1px solid transparent;
  /* làm mất viền theo dự án thiết kế */
  width: 100%;
  /* hiển thị theo kích thước 1:1 không phải tính toán kích thước như tự code */
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.popular .course-item .info {
  padding: 16px 22px 22px;
}
.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  /* căn giữa theo trục dọc */
  justify-content: space-between;
  /* căn giữa theo trục ngang */
}
.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.popular .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4;
  line-height: 1.86; /* 185.714% */
}
.popular .course-item .foot {
  margin-top: 12px;
}
.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.popular .course-item .btn-book {
  border: none;
  /* nguyên nhân vì thẻ border có đường viền nên loại bỏ nó  */
}
.popular .course-item .btn-book:hover {
  border-radius: 25px;
  background: #ffb900;
}
/*============== feedback */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}
.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  /* transform: translateX(-100%);
  transition: all ease 0.5s; */
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.feedback-item .dots {
  gap: 6px;
  display: flex;
  margin-top: 28px;
}

.feedback-item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .dot.active {
  background: var(--primary-color);
  cursor: default;
}

.feedback-item .content {
  width: 66%;
  margin-left: auto;
}

.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}
/* ===============feature =====================*/
.features {
  margin-top: 135px;
  padding: 65px 0;
}
.features .body {
  display: flex;
  justify-content: space-between;
}
.features .images {
  display: flex;
  gap: 30px;
}
.features .images img {
  width: 270px;
  height: 405px;
  border-radius: 16px;
  object-fit: cover;
}
.features .lower {
  margin-top: 34px;
}
.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  /* Sắp xếp các phần tử theo cột từ trên xuống dưới. */
  justify-content: center;
  /* phần này căn giữa nội dung theo trục nằm dọc */
}
.features .desc {
  margin-top: 1.6rem;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.76; /* 175% */
}
.features .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  flex-shrink: 0;
  background-color: var(--primary-color);
}
/* ===============feature 2=====================*/
.features-2nd {
  margin-top: 70px;
}
.features-2nd .body {
  flex-direction: row-reverse;
}
.features-2nd .content {
  width: 49%;
}
.features.features-2nd .images img {
  width: 470px;
  height: 440px;
  object-fit: cover;
}
/* ===============Blocks=====================*/
.blocks {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blocks .block-top {
  text-align: center;
}
.blocks .block-top .desc {
  color: #696262;
  text-align: center;
  line-height: 1.75; /* 175% */
  width: 448px;
  margin: 16px auto;
}
.blocks .block-list {
  overflow: hidden;
  display: flex;
  margin-top: 55px;
  gap: 30px;
}
.blocks .item {
  width: calc(33.33% - 20px);
  border-radius: 16px;
  background: #fff;
  flex-shrink: 0;
}
.blocks .item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blocks .item .thumb {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
.blocks .block-list .info {
  padding: 20px 20px 28px;
}
.blocks .item .date {
  padding-bottom: 12px;
  position: relative;
  display: inline-flex;
  /* nguyên nhân sử dụng là chỉ chứa vừa nội dung của nó thôi nó không lệch ra ngoài làm  */
  align-items: center;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.blocks .item .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-right: 4px;
}
.blocks .item .date::after {
  /* những gạch nào có bo góc thì dùng after */
  position: absolute;
  content: "";
  display: inline-block;
  right: -27px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  left: 0;
  bottom: 0;
}
.blocks .item .title {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}
.blocks .btn {
  font-size: 1.4rem;
  margin-top: 12px;
}
.blocks .item .btn:hover {
  background: var(--primary-color);
}
.blocks .dots {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 38px;
}
.blocks .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}
.blocks .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}
/* footer */
.footer {
  background: #2e2100;
  padding: 96px 135px 0;
}
.footer .row {
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}

.footer .row .column {
  width: 21.6%;
}
.footer .row .column:first-child {
  width: 35%;
}
.footer .desc {
  margin-top: 18px;
  max-width: 267px;
  /* thuộc tính này có thể co lại khi kéo trang không làm vỡ giao diện trong khi người dùng thu nhỏ lại trang */
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.footer .social {
  gap: 18px;
  margin-top: 18px;
  display: flex;
}
.footer .title {
  padding-bottom: 14px;
  padding-right: 48px;
  display: inline-block;
  /* do thanh quá dài */
  border-bottom: 1px solid #59554b;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}
.footer .list {
  margin-top: 28px;
}
.footer .list a {
  /* thẻ a mặc định nó là thẻ inline nên không margin padding được  */
  display: inline-block;
  margin-bottom: 12px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.footer .list li:last-child a {
  margin-bottom: 0;
}
.footer .list strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86; /* 185.714% */
}
.footer .copyright {
  padding: 28px 0;
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
